.gallery-hero-section {
  text-align: center;
}

.hero-section-text {
  background-image: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1544&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  margin: 0;
  height: 300px;
  background-size: cover;
  text-align: center;
  color: rgb(245, 245, 245);
  box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.646);
}

.hero-section-text h1 {
  margin: 0;
  padding-top: 80px;
}
.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 50px;
  height: auto;
}

.add-button-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .gallery-hero-wrapper .add-button-container {
    justify-content: right;
    padding-left: 150px;
    padding-right: 150px;
  }
}
