.hero-wrapper {
  padding: 15px;
  background-image: url("./HeroBanner.jpg");
  background-size: cover;
  height: 500px;
  text-align: center;
  color: rgb(245, 245, 245);
  box-shadow: inset 0 0 0 2000px rgba(36, 36, 36, 0.505);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
