.navigation-menu p {
  text-decoration: none;
  color: rgb(244, 244, 244);
  padding: 5px;
  font-size: 14px;
}

.navigation-menu p:hover {
  cursor: pointer;
  color: #d4af37;
}

a {
  text-decoration: none;
}
.navigation-wrapper {
  position: fixed; /* Make the navigation fixed */
  top: 0; /* Stick it to the top of the viewport */
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it's above other content */
  text-align: center;
  height: 80px;
  background-color: #171717;
  align-content: center;
  border-bottom: solid rgba(0, 0, 0, 0.081) 1px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.733);
}

.navigation-menu img {
  object-fit: contain;
  width: 110px;
  padding-top: 8px;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: #171717;
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  text-align: center;
}

.nav-links.open {
  display: flex;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
}

.burger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.burger-menu .line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu .line.open:nth-child(2) {
  opacity: 0;
}

.burger-menu .line.open:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -7px);
}
.nav-links p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.355);
  margin: 0;
  padding: 10px;
}
.nav-links .about {
  word-spacing: 2px;
  border-bottom: none;
}

@media (min-width: 800px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    width: auto;
    background-color: transparent;
  }

  .burger-menu {
    display: none;
  }

  .navigation-wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }

  .nav-links p {
    border: none;
  }

  .navigation-menu p {
    padding-left: 15px;
    padding-right: 15px;
  }
}
